.login_button {
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #ff8906, #ffa339, #ff8906);
	background-size: 200%;
	font-family: 'Julius Sans One';
	letter-spacing: 5px;
	font-weight: 900;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px;
	font-size: 0.9rem;
	cursor: pointer;
	transition: .5s ease-out;
}

.login_button:hover {
	background-position: right;
}